<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCQ Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_mcqs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop-up-style.css') }}">
</head>
<body>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'General')">General Questions</button>
        <button class="tablinks" onclick="openTab(event, 'Filtered')"> Questions Based on Points</button>
    </div>

    <div id="General" class="tabcontent">
        <div id="quiz-section-general">
            <div id="mcq-container-general"></div> <!-- General MCQs will be injected here -->
        </div>
    </div>

    <div id="Filtered" class="tabcontent">
        <div id="quiz-section-filtered">
            <div id="user-points">Points: 0</div>
            <div id="mcq-container-filtered"></div> <!-- Filtered MCQs will be injected here -->
            
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/generate_mcqs.js') }}"></script>
</body>
</html>
