<!--<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" type="image/x-icon">
    <title>StudyWise</title>
    <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">                                
</head>
<body>
    <div class="main-navbar">
        <img src="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" alt="Studywise Logo" class="navbar-logo">
        <div class="navbar-btns">
            <a href=""><button>Home</button></a>
            <a href="/"><button>Upload Material</button></a>
            <a href="/"><button>SignUp/Login</button></a>
            <a onclick="popupPrompt()"><button>Reviews</button></a>
        </div>
    </div> 
    <div style="width: 100%; height: 100%; color: #1C94D8; font-size: 120px; font-family: Cairo; font-weight: 900; word-wrap: break-word">STUDYWISE</div>
    <div style="width: 100%; height: 100%; color: #F7EBE8; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word"><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <img style="width: 30%; height: 20%" src="{{ url_for('static', filename='assets/images/Books.png') }} ">
    <img style="width: 10%; height: 20%" src="{{ url_for('static', filename='assets/images/Brain.png') }} " />
    <div style="width: 100%; height: 100%; color: #F7EBE8; font-size: 32px; font-family: Cairo; font-weight: 600; word-wrap: break-word">WHY USE STUDYWISE?</div>
    <div style="width: 100%; height: 100%; color: #F7EBE8; font-size: 24px; font-family: Abel; font-weight: 400; word-wrap: break-word">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <img style="width: 100%; height: 100%; " src="{{ url_for('static', filename='assets/images/lotsofBooks.png') }} "/>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" type="image/x-icon">
        <title>StudyWise</title>
        <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homestyle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">                                
    </head>
    <body>
        <div class="main-navbar">
            <img src="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" alt="Studywise Logo" class="navbar-logo">
            <div class="navbar-btns">
                <a href=""><button>Home</button></a>
                <a href="/"><button>Upload Material</button></a>
                <a href="/"><button>SignUp/Login</button></a>
                <a onclick="popupPrompt()"><button>Reviews</button></a>
            </div>
        </div> 


    <main>
        <div class="content-container">
            <div class="image-column">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='assets/images/Brain.png') }}" alt="Brain" class="brain-image">
                    <img src="{{ url_for('static', filename='assets/images/Books.png') }}" alt="Books" class="books-image">
                </div>
                <h2>WHY USE STUDYWISE?</h2>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            </div>
            <div class="text-column">
                <h1>STUDYWISE</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <img src="{{ url_for('static', filename='assets/images/3.png') }}" alt="Lots of Books">
                
            </div>
        </div>
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>

</html>