<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" type="image/x-icon">
        <title>StudyWise - Upload</title>
        <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/view-video-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flashcard-style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    </head>
    <body>
        <div class="main-navbar">
            <img src="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" alt="Studywise Logo" class="navbar-logo">
            <div class="navbar-btns">
                <a href="/home"><button>Home</button></a>
                <a href="pdf-page.html"><button>Your Content</button></a>
                <a onclick="popupPrompt()"><button>Upload Material</button></a>
            </div>
        </div> <!-- Main Navbar end -->
        <div class="page-content">
            <div class="main-frame">

                <button class="back-btn" onclick="history.back()"><i class="fa-solid fa-left-long"></i></button>
                
                <div class="video-container">
                    <video id="video" controls playsinline>
                        <source src="" type="video/mp4" id="video-viewer"/>
                        <track kind="captions" label="English" srclang="en" src="" default>
                    </video> <!-- Video Tag End -->
                    
                    <div class="video-btns"></div>
                    <div id="videoIndexes"></div>
                </div>
            </div> <!-- Main Frame end -->
            <div class="sidebar-viewer">

                <div class="flashcards"> <!-- Flashcards Start -->
                    <h1 class="flashcards-title">Flashcards</h1>
                    <div class="folder">
                        <div id="howMany" class="howMany"></div>
                        <div id="flshcard-quiz-mode">
                        <!--Card-->
                    
                            <div class="card">
                                <div id="front" class="front">
                                </div>
                                <div id="back" class="back">
                                </div>
                            </div>
                    
                            <br>
                            <button id="fail" type="button">Missed It</button>
                            <button id="success" type="button">Got It!</button>
                        
                            <div id ="block">
                                <div id="progress">
                                    <div id="percent">Card 1 of 10</div>
                                    <div id="bar"></div>
                                    <div id="bg-bar"></div>
                                </div>
                            </div>
                                <button id="missed" type="button">Retry Missed</button>
                                <button id="full" type="button">Retry Full Set</button>
                        </div>
                    </div> <!-- Folder End -->
                </div> <!-- Flashcards End -->

                <div class="summary">
                    <h1 class="video-summary-title">Video Summary</h1>
                    <p id="summaryText">
                        Summary Processing...
                    </p>
                </div>

            </div> <!-- Sidebar End -->
                <!-- <div class="sidebar-title">
                    Video Toolbar
                </div> -->
                <div class="sidebar-menu">
                    <button class="flashcard-btn" onclick="toggleFlashcards(this)">
                        <h3> Flashcards </h3><img src="{{ url_for('static', filename='assets/images/flashcards.png') }}" alt="Flashcards!">
                    </button>
    
                    <button class="summary-btn" onclick="toggleSummary(this)">
                        <h3> Summary </h3><i class="fa-solid fa-align-center"></i>
                    </button>
    
                    <button class="chat-btn" onclick="goToChat()">
                        <h3> Go to Chat </h3><img src="{{ url_for('static', filename='assets/images/bot.png') }}" alt="" class="choice-icon">
                    </button>
    
                    <button class="mcq-btn" onclick="goToMCQ()">
                        <h3>Go to MCQ</h3><span class="fa6-solid--file-pen"></span>
                    </button>
    
                    <button></button>
                    <button></button>
                </div>
        </div>
        <div id="popup-overlay" class="popup-overlay">
            <div class="popup-prompt">
                <button class="close-btn" onclick="closePopup()">&times;</button>
                <div class="popup-content">
                    <h2>What kind of file do you want to upload?</h2>
                    <button onclick="chooseOption('text')">Text-based</button>
                    <button onclick="chooseOption('video')">Video-based</button>
                </div>
            </div>
        </div>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
        <script src="https://unpkg.com/plyr@3"></script>
        <script src="{{ url_for('static', filename='js/videoView.js') }}"></script>
        <script src="{{ url_for('static', filename='js/FlashcardsV1_JS.js') }}"></script>
        <!-- <script src="https://cdn.plyr.io/3.7.8/demo.js" crossorigin="anonymous"></script> -->
    </body>
</html>