body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

#mcq-container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

.option {
    margin: 10px 0;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #d3d3d3;
}
.correct {
    background-color: #c8e6c9; /* Green */
}

.incorrect {
    background-color: #ffcdd2; /* Red */
}

#user-points {
    font-size: 20px;
    margin-bottom: 10px;
    color: #4CAF50; /* Adjust color as per your theme */
}
