@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');html {
    font-family: 'Cairo', sans-serif;
    font-size: 21;
    line-height: 2rem;
}

:root {
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

body {
    background-color: #01163A;
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    color: var(--primaryFontColor);
    font-weight: 400;
}

button {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
}

.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 60px;
    
    background: linear-gradient(#023D98, #040F22, #022964);
    border: solid 2px #506387;
    border-radius: 30px;
}

.navbar-logo {
    height: 100px;
    position: relative;
    display: inline-block;
}

#drop-area.dragover {
    border-color: green; /* Example styling for dragover */
    /* Add any other styling for dragover state */
}

.navbar-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    position: relative;
    left: 5%;

    width: fit-content;
    max-width: 70%;
    height: inherit;
}

.main-navbar a {
    height: inherit;
    text-decoration: none;
}

.main-navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    background-color: var(--transparent);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    width: 100%;
    height: inherit;
    transition: ease 150ms;
}

.main-navbar button:hover {
    height: 100%;
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 80%;
    flex-shrink: 0;
}

.back-btn {
    display: inline;
    height: 2.2rem;
    width: 2.2rem;
    border: 2px solid #506387;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 10px;
    transition: ease 100ms;

    font-size: 30px;
}

.back-btn:hover {
    scale: 110%;
    font-size: 31px;
    background:rgba(11, 61, 101, 1);
}

.main-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: ease 150ms;

    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;

    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
}

@media screen and (max-width = 900px) {
    .sidebar-title{
        font-size: 1.4rem;
    }
}

@media screen and (max-width = 767.5px) {
    
}

#drop-area {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 90%;
    border: 5px dotted #506387;
    background: #040F22;
}

.upload-section {
    text-align: center;
}

.upload-icon {
    font-size: 3rem;
    color: #D4DBE8;
}

.upload-text {
    font-size: 1.5rem;
    margin: 10px 0;
}

.file-upload-btn {
    position: relative;
    margin: 0 1rem 1rem auto;
    width: 15rem;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: ease 150ms;
}

.file-upload-btn:hover {
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}

#chosen-file {
    font-weight: 500;
    color: yellowgreen;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1; /* Ensure the popup overlay is on top */
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    z-index: 2; /* Ensure the popup is on top of the overlay */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}