/* .navbar-avatar-frame::before {
    position: absolute;
    display: inline-block;
    right: 69px;
    z-index: 1;
    content: var(--before-content, "UserName");
    line-height: 1em;
    width: fit-content;
    max-width: 10em;
    overflow-wrap: break-word;
    pointer-events: none;
} */

.list-group {
    font-size: 21px;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
    background-color: #01163A;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.1);
    width: 212px;
    height: 160px;
}
.list-group.show {
    display: block;
}
.list-group .list-group-item {
    height: 25%;
    padding: 10px;
}
.list-group .list-group-item:hover {
    background: #fafafa2f;
    transition: 0.15s ease;
}
.list-group .list-group-item:last-child {
    margin-bottom: 0;
}
.navbar-avatar-frame svg {
    width: 65px;
    height: 65px;
}
/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #01163A;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content input[type = 'text'], input[type = 'password'] {
    border-radius: 3px;
    font-size: 21px;
}
.modal-content input[type = 'text']:focus, input[type = 'password']:focus {
    outline: solid 3px rgba(38, 255, 0, 0.5);
}
.btn {
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    background-color: #00000085;
    border-radius: 5px;
    font-style: inherit;

    cursor: pointer;
    border: 3px solid transparent;
    min-width: 150px;
    height: inherit;
    transition: 0.3s ease;
}
.btn:hover {
    font-size: 24px;
    border: 3px solid #5f78a3;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(39, 83, 119, 0.1) 62.9%, #308bd02b 100%);
    transition: 0.2s ease;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.navbar-avatar-frame svg {
    width: 65px;
    height: 65px;
}
.navbar-avatar-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 58px;
    border: solid 3px #506387;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.navbar-avatar-frame::before {
    position: absolute;
    display: inline-block;
    right: 69px;
    z-index: 1;
    content: var(--before-content);
    line-height: 1em;
    width: fit-content;
    max-width: 10em;
    overflow-wrap: break-word;
    pointer-events: none;
    text-align: end;
}
.navbar-user-avatar-SVG {
    position: relative;
    margin: -3px;
    height: 61px;
    width: 61px;
}