* {
    box-sizing: border-box;
}

/* FLASH CARD STYLING */
/* entire container, keeps perspective */

.FC-container .flip-container {
    margin: 0 auto;
    perspective: 1000;
    transform: perspective(1500px);
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

/* flip the pane  */
.FC-container .flip-container.flipped .flipper,
.FC-container .flip-container.flipped .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.FC-container .flip-container,
.front,
.back {
    width: 400px;
    height: 250px;
    /* 	border-radius: 24px; */
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .flip-container {
        margin: 10vh auto;
    }

    .flip-container,
    .front,
    .back {
        width: 150vw;
        height: 80vh;
    }
}

.front,
.back {
    text-align: center;
    align-content: center;
    border-radius: 5px;

    padding: 5px 3px;
    font-family: 'Cairo';
    color: #fafafa;
    overflow: auto;
}

.front h6, .back h6 {
    font-size: 14px;
    position: absolute;
    top: -10px;
    margin-top: 0;
    color: #fafafa;
    opacity: 0.5;
}

.front::-webkit-scrollbar-track, .back::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
}
.front::-webkit-scrollbar, .back::-webkit-scrollbar {
    width: 6px;
}
.front::-webkit-scrollbar-thumb, .back::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(12, 12, 12, 0.6);
}
.front::-webkit-scrollbar-thumb:hover, .back::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: rgba(12, 12, 12, 0.8);
}
.front::-webkit-scrollbar-thumb:active, .back::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.5);
}

#question,
#answer {
    position: relative;
}

#question {
    line-height: 1.1em;
    font-size: 1.6em;
    text-shadow: 1px 1.5px 3px black;
}

#answer {
    line-height: 1.05em;
    font-size: 1.3em;
}

/* flip speed goes here */
.flipper {
    margin-top: 30px;
    padding: 10px;
    transform: perspective(1000px);
    -webkit-transition: 0.2s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.2s;
    transform-style: preserve-3d;
    position: relative;
}

.clickable {
    cursor: pointer;
}

.flip-animator {
    animation: rotate 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

/* hide back of pane during swap */
.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.3s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg);
    -moz-transition: 0.3s;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateY(0deg);
    -o-transition: 0.3s;
    -o-transform-style: preserve-3d;
    -o-transform: rotateY(0deg);
    -ms-transition: 0.3s;
    -ms-transform-style: preserve-3d;
    -ms-transform: rotateY(0deg);
    transition: 0.3s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 16px -1px rgb(26 26 26 / 50%);
}

/* front pane, placed above back */
.front {
    /* 	z-index: 2; */
    /* for firefox 31 */
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    background-color: #288dd0;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #c43367;
}

.button-container {
    margin: 10px auto;
    width: 320px;
    cursor: default;
    text-align: center;
    display: block;
    font-size: 25px;
}

.button-container button {
    min-width: 50px;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    border: 3px solid silver;
    background: #eaeaea;
    transition: 0.2s linear;
}

.button-container button:hover {
    background-color: silver;
    cursor: pointer;
    border: 3px solid lightgoldenrodyellow;
}

.button-container button:focus {
    outline: 0;
}

.button-container button:active {
    background-color: grey;
    transition: 0.3s ease;
}

#flag.flagged {
    background-color: gold;
}

#flag.flagged:hover {
    background-color: goldenrod;

}

.go-fullscreen {
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: -40px;
    top: 75px;
    left: 355px;
    border-radius: 51%;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: .5em;
    color: white;
    background-color: #000000;
    opacity: 0.2;
    z-index: 5;
    transition: 0.3s linear;
}

.go-fullscreen:hover {
    opacity: 0.7;
    transition: 0.2s linear;
}

.go-fullscreen.fullscreen {
    display: none;
}

.leave-fullscreen {
    display: none;
    position: relative;
    cursor: pointer;
    margin-top: -40px;
    top: 75px;
    left: 923px;
    border-radius: 51%;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: .5em;
    color: white;
    background-color: #000000;
    opacity: 0.2;
    z-index: 105;
    transition: 0.3s linear;
}

.leave-fullscreen:hover {
    opacity: 0.7;
    transition: 0.2s linear;
}

.leave-fullscreen.fullscreen {
    display: block;
}

.FC-container {
    transition: 0.2s ease;
}

#midrow {
    transition: margin-top 0.5s ease, transform 0.5s ease;
}

/* FULLSCREEN FLASHCARDS */

.FC-container.fullscreen {
    height: 100vh;
    width: 100vw;
    background: #000000f0;
    transform: scale(1);
    margin: auto;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    transition: 0.2s ease;
}

.fullscreen #midrow {
    margin-top: 25vh;
    transform: scale(1.5);
    transition: margin-top 0.5s ease, transform 0.5s ease;
}

.locked {
    overflow: hidden;
    user-select: none;
}