@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');

html {
    font-family: 'Cairo', sans-serif;
    font-size: 21;
    line-height: 2rem;
}

:root {
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

body {
    background-color: #01163A;
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    color: var(--primaryFontColor);
    font-weight: 400;
}

button {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
}

.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 

    position: relative;
    margin: auto;
    margin-top: 3%;
    width: 85%;
    height: 60px;
    left: -1%;

    background: linear-gradient(#023D98, #040F22, #022964);
    border: solid 2px #506387;
    border-radius: 30px;
}

.navbar-logo {
    height: 125px;
    left: -1%;
    position: relative;
    display: inline-block;
}

.navbar-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    position: relative;
    left: -10%;

    width: 50%;
    height: inherit;
}

.main-navbar a {
    height: inherit;
    text-decoration: none;
}

.main-navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    background-color: var(--transparent);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 100px;
    width: 100%;
    height: inherit;
    transition: ease 150ms;
}

.main-navbar button:hover {
    height: 100%;
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}


.navbar-avatar-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 58px;
    border: solid 3px #506387;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.navbar-avatar-frame::before {
    position: absolute;
    display: inline-block;
    right: 64px;
    z-index: 1;
    content: var(--before-content, "User Name");
    line-height: 1em;
    width: fit-content;
    max-width: 10em;
    overflow-wrap: break-word;
    pointer-events: none;
}

.navbar-user-avatar-SVG {
    position: relative;
    margin: -3px;
    height: 61px;
    width: 61px;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 80%;
    flex-shrink: 0;
}

.back-btn {
    display: inline;
    height: 2.2rem;
    width: 2.2rem;
    border: 2px solid #506387;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 10px;
    transition: ease 100ms;

    font-size: 30px;
}

.back-btn:hover {
    scale: 110%;
    font-size: 31px;
    background:rgba(11, 61, 101, 1);
}

.main-frame {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: ease 150ms;

    border-radius: var(--primaryBorderRadius);
    border: 5px dotted #506387;

    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
}

@media screen and (max-width = 900px) {
    .sidebar-title{
        font-size: 1.4rem;
    }
}







.main-container {
    border-radius: 9px;
    border: 2px solid rgba(80, 99, 135, 1);
    background-color: #040f22;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding: 28px;
    gap: 20px;
    max-width: 49%;
}

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    max-width: 44%;
    min-height: 100%;
    
    margin: auto 1% auto 1%;
    flex-shrink: 0;
    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;
    background: linear-gradient(270deg, #0A2F66 -27.93%, #131F38 100%);
    align-self: flex-start;
    margin-top: 28px;
}

.content-row {
    padding: 0 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Center the content columns */
}

.content-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%; /* Each content column takes up the full width */
    max-width: 300px; /* Limit the width of each content column */
    gap: 20px;
}

.content-column:hover {
    transition: 0.3s ease-in-out;
    scale: 1.05;
}

.content-card {
    justify-content: center;
    border-radius: 6px;
    border: 3px solid rgba(212, 219, 232, 1);
    background-color: #14223c;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Add some bottom margin to separate content blocks */
}
.content-card:hover {
    cursor: pointer;
}

.title {
    padding: 10px; /* Add padding to the title */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    overflow-wrap: anywhere;
    max-height: 50px;
}
.title:hover {
    transition: 0.1s ease-in-out;
    font-weight: 700;
    transform: translateX(-1.5px);
}

.type {
    margin: 5px;
}

.image-container {
    align-self: center;
    display: flex;
    margin-top: 33px;
    align-items: center;
    gap: 10px;
}

.flashcard-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 91px;
    cursor: pointer;
}

.summary-img {
    aspect-ratio: 1;
    object-position: center;
    height: 88px;
    width: 81px;
    cursor: pointer;
}

.bot-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 95px;
    cursor: pointer;
}

.card-img {
    transition: 0.25s ease-in-out;
    scale: 1;
}

.card-img:hover {
    transition: 0.25s ease-in-out;
    scale: 1.08;
    opacity: 0.75;
}


@media (max-width: 767.5px) {
    .navbar-avatar-frame::before {
        display: none;
    }

    .main-container {
        max-width: 100%;
        padding: 0 20px;
    }

    .content-section {
        max-width: 100%;
    }

    .content-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }

    .content-column {
        width: 100%;
    }

    .content-card {
        margin-top: 15px;
    }

    .title {
        white-space: initial;
    }
}

/* Popup Styling */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 1;
    /* Ensure the popup overlay is on top */
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
    z-index: 2;
    /* Ensure the popup is on top of the overlay */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}