@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');

html {
    font-family: 'Cairo', sans-serif;
    line-height: 2rem;
}

:root {
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

body {
    background-color: #01163A;
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    color: var(--primaryFontColor);
    font-weight: 400;
}

button {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
}

button i {
    cursor: pointer;
}
/* .forgetPasswordbutton {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
} */

.navbar-avatar-frame svg {
    width: 65px;
    height: 65px;
}

.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 

    position: relative;
    margin: auto;
    margin-top: 3%;
    width: 85%;
    height: 60px;
    left: -1%;

    background: linear-gradient(#023D98, #040F22, #022964);
    border: solid 2px #506387;
    border-radius: 30px;
}

.navbar-logo {
    height: 125px;
    left: -1%;
    position: relative;
    display: inline-block;
}

.navbar-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
    position: relative;
    left: -10%;

    width: 50%;
    height: inherit;
}

.main-navbar a {
    height: inherit;
    width: -webkit-fill-available;
    text-decoration: none;
}

.main-navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    background-color: var(--transparent);
    font-style: inherit;

    cursor: pointer;
    border: 3px solid transparent;
    min-width: 120px;
    width: 100%;
    height: inherit;
    transition: 0.3s ease;
}

.navbar-btns button:hover {
    height: 100%;
    font-size: 24px;
    border: 3px solid #5f78a3;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(39, 83, 119, 0.1) 62.9%, #308bd02b 100%);
    transition: 0.2s ease;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 80%;
    flex-shrink: 0;
}

.main-frame {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: ease 150ms;

    border-radius: var(--primaryBorderRadius);
    border: 5px dotted #506387;

    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
}

@media screen and (max-width = 900px) {
    .sidebar-title{
        font-size: 1.4rem;
    }
}







.main-container {
    overflow-y: auto;
    display: grid;
    border-radius: 9px;
    border: 2px solid rgba(80, 99, 135, 1);
    background-color: #040f22;
    margin-top: 28px;
    padding: 28px;
    width: -webkit-fill-available;
    height: 67vh;
    max-width: 49%;
    max-height: 67vh;
}

.main-container::-webkit-scrollbar:active {
    visibility: visible;
}

#style-7::-webkit-scrollbar-track 
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
	border-radius: 10px;
    opacity: 0.3;
}

#style-7::-webkit-scrollbar
{
    width: 10px;
    visibility: hidden;
}

#style-7::-webkit-scrollbar-thumb
{
    width: 10px;
	border-radius: 10px;
	background-color: rgba(94, 110, 171, 0.6);
}

#style-7::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
    background-color: rgba(94, 110, 171, 0.7);
}
#style-7::-webkit-scrollbar-thumb:active
{
	border-radius: 10px;
	background-color: rgba(94, 110, 171, 1);
}

.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    max-width: 44%;
    min-height: 100%;
    
    margin: auto 1% auto 1%;
    flex-shrink: 0;
    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;
    background: linear-gradient(270deg, #0A2F66 -27.93%, #131F38 100%);
    align-self: flex-start;
    margin-top: 28px;
}

.title {
    padding: 10px; /* Add padding to the title */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: calc(1vw + 0.4em);
    overflow-wrap: anywhere;
    overflow-y: hidden;

    width: 90%;
    max-height: 70px;
    transition: 0.3s ease-in-out;
}

.content-row {
    transition: 0.5s ease;
    padding: 0 0 0 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    justify-self: center;
    
    width: 90%;
}

.content-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    gap: 20px;

    width: 100%; /* Each content column takes up the full width */
    max-width: 48%; /* Limit the width of each content column */
}

a.content-card {
    text-decoration: none;
}
.content-card {
    transition: scale 0.4s;
    justify-content: space-between;
    border-radius: 6px;
    border: 3px solid rgba(212, 219, 232, 1);
    background-color: #14223c;
    display: flex;
    flex-direction: column;
    height: 227px;
}
.content-card:hover {
    transition: scale 0.3s;
    scale: 1.01;
    cursor: pointer;
}

a > div.title {
    padding: 10px; /* Add padding to the title */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: calc(1vw + 0.4em);
    overflow-wrap: anywhere;
    overflow-y: hidden;

    line-height: 1.65rem;
    width: 90%;
    max-height: 70px;
    transition: 0.3s ease-in-out;
}

.type {
    color: var(--primaryFontColor);
    text-decoration: none;
    margin: 10px 0px 0px 10px;
}

.card-img {
    transition: scale 0.2s;
    scale: 1;
}

.card-img:hover {
    transition: scale 0.2s ;
    scale: 1.05;
    opacity: 0.75;
}

.image-container {
    align-self: center;
    display: flex;
    margin-top: 3px;
    align-items: center;
    gap: 10px;
}

.flashcard-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;

    cursor: pointer;
    width: calc(1vw + 3em);
}

.summary-img {
    aspect-ratio: 1;
    object-position: center;
    cursor: pointer;
    height: calc(1vw + 3em);
    width: calc(1vw + 2.6em);
}

.bot-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: calc(1vw + 3.3em);
    cursor: pointer;
}


@media (max-width: 767.5px) {
    .navbar-avatar-frame::before {
        display: none;
    }

    .main-container {
        max-width: 100%;
        padding: 0 20px;
    }

    .content-section {
        max-width: 100%;
    }

    .content-row {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 0px;
    }

    .content-column {
        width: 100%;
    }

    .content-card {
        margin-top: 15px;
    }

    .title {
        white-space: initial;
    }
}

/* Popup Styling */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 1;
    /* Ensure the popup overlay is on top */
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
    z-index: 2;
    /* Ensure the popup is on top of the overlay */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}