@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');html {
    font-family: 'Cairo', sans-serif;
    font-size: 21;
    line-height: 2rem;
}

:root {
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

body {
    background-color: #01163A;
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    color: var(--primaryFontColor);
    font-weight: 400;
}

button {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
}

.main-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 60px;
    
    background: linear-gradient(#023D98, #040F22, #022964);
    border: solid 2px #506387;
    border-radius: 30px;
}

.navbar-logo {
    height: 100px;
    position: relative;
    display: inline-block;
}

.navbar-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    position: relative;
    left: 5%;

    width: 50%;
    height: inherit;
}

.main-navbar a {
    height: inherit;
    text-decoration: none;
}

.main-navbar button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    background-color: var(--transparent);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    width: 100%;
    height: inherit;
    transition: ease 150ms;
}

.main-navbar button:hover {
    height: 100%;
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 80%;
    flex-shrink: 0;
}

.back-btn {
    display: inline;
    height: 2.2rem;
    width: 2.2rem;
    border: 2px solid #506387;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 10px;
    transition: ease 100ms;

    font-size: 30px;
}

.back-btn:hover {
    scale: 110%;
    font-size: 31px;
    background:rgba(11, 61, 101, 1);
}

.main-frame {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: ease 150ms;

    border-radius: var(--primaryBorderRadius);
    border: 5px dotted #506387;

    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
}

@media screen and (max-width = 900px) {
    .sidebar-title{
        font-size: 1.4rem;
    }
}







.container {
    border-radius: 9px;
    border: 2px solid rgba(80, 99, 135, 1);
    background-color: #040f22;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    padding: 28px;
    gap: 20px;
}

.content-section {
    padding: 0 1px;
}

.content-row {
    display: flex;
    gap: 20px;
}

.content-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

.content-column:hover {
    transition: 0.3s ease-in-out;
    scale: 1.05;
}

.content-block {
    justify-content: center;
    border-radius: 6px;
    border: 3px solid rgba(212, 219, 232, 1);
    background-color: #14223c;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px 77px;
}

.title {
    color: #f7ebe8;
    font: 500 24px 'Cairo', sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.title:hover {
    transition: 0.1s ease-in-out;
    font-weight: 700;
    transform: translateX(-1.5px);
}

.image-container {
    align-self: center;
    display: flex;
    margin-top: 33px;
    align-items: center;
    gap: 10px;
}

.flashcard-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 91px;
    cursor: pointer;
}

.summary-img {
    aspect-ratio: 1;
    object-position: center;
    height: 88px;
    width: 81px;
    cursor: pointer;
}

.bot-img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 95px;
    cursor: pointer;
}

.card-img {
    transition: 0.25s ease-in-out;
    scale: 1;
}

.card-img:hover {
    transition: 0.25s ease-in-out;
    scale: 1.08;
    opacity: 0.75;
}


@media (max-width: 767.5px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .content-section {
        max-width: 100%;
    }

    .content-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }

    .content-column {
        width: 100%;
    }

    .content-block {
        margin-top: 15px;
    }

    .title {
        white-space: initial;
    }
}

/* Popup Styling */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 1;
    /* Ensure the popup overlay is on top */
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
    z-index: 2;
    /* Ensure the popup is on top of the overlay */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}
.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .text-column {
    flex: 1;
    order: 1;
  }
  
  .image-column {
    flex: 1;
    order: 2;
  }
  
  .image-container {
    position: relative;
  }
  
  .brain-image {
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 30%;
  }
  
  .books-image {
    width: 10
  }
  