@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;

    font-family: 'Cairo', sans-serif;
    font-size: 21;
    line-height: 2rem;
    
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

h1, h2 {
    line-height: 1em;
    font-weight: 600;
    color: var(--primaryFontColor);
}
h2 {
    font-weight: 500;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 300ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #d4dbe88d;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
    transition: ease 200ms;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 32px;
    width: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: background ease-in-out 0.2s;
}
.close-btn:hover {
    transition: 70ms ease-in-out;
    color: brown;
    background: rgb(165, 42, 42, 0.8);
    transition: background ease-in-out 0.1s;
}

.popup-content input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    color: black;
    font-style: inherit;

    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}