@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');
html {
    font-family: 'Cairo', sans-serif;
    line-height: 2rem;
}

:root {
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

body {
    background-color: #01163A;
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    color: var(--primaryFontColor);
    font-weight: 400;
}

button {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 2%;
    width: 85%;
    height: 75vh;
    flex-shrink: 0;
}

.back-btn {
    display: inline;
    height: 58px;
    width: 50px;
    border: 2px solid #506387;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    margin: 10px 0 0 10px;
    transition: ease 0.3s;

    font-size: 30px;
}

.back-btn:hover {
    transition: 0.2s ease;
    border: 2px solid #97a6c2;
    background-color: rgba(10, 55, 92, 1);
}

.back-btn:active {
    opacity: 0.9;
    scale: 0.95;
}

.main-frame {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    height: 100%;
    min-height: 500px;
    flex-shrink: 0;
    transition: ease 150ms;

    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;

    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
}

.custom-file-label {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 5%;
    scale: 1.47;
    cursor: pointer;

    border: 1px solid #8f8f8f;
    border-radius: 4px;
    background-color: #f1f1f110;
    transition: 0.4s;
}

.custom-file-label:hover {
    scale: 1.48;
    background-color: #f1f1f129;
    border: 1px solid #ccc;
    transition: 0.1s ease;
}

@media screen and (max-width = 900px) {
    .sidebar-title{
        font-size: 1.4rem;
    }
}

@media screen and (max-width = 767.5px) {
    
}

#drop-area {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75%;
    min-height: 320px;
    width: 80%;
    border: 5px dotted #506387;
    background: #040F22;
    padding: 20px;
    
}

.upload-section label{
    font-size: 25px;
}

.upload-icon {
    font-size: 3rem;
    color: #D4DBE8;
}

.upload-text {
    font-size: 1.5rem;
    margin: 10px 0;
}

form#uploadForm {
    margin-top: 30px;
}

.file-upload-btn {
    position: relative;
    margin: 12px 5rem 1rem auto;
    width: 15rem;
    padding: 5px 10px;
    cursor: pointer;

    font-size: 1rem;
    background-color: rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
    border: none;
    border-radius: 5px;
    transition: ease 150ms;
}

#audiocut {
    position: relative;
    margin-top: -16px;
    bottom: -8%;
    left: 7rem;

    width: fit-content;
    scale: 2;
    transition: 0.4s;
}

#audiocut::after {
    content: "Trim silences";
    color: white;
    font-size: 12px;
    line-height: 1em;

    display: inline-block;
    margin-left: 18px;
    width: max-content;
}

#audiocut:active {
    opacity: 0.9;
    scale: 1.95;
    transition: 0.1s;
}
.cta {
    position: relative;
    margin: 12px 7rem 1rem auto;
    width: 15rem;
    cursor: pointer;

    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-size: 26px;
    color: white;
    background: #288dd0;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #c43367;
}
.cta:active {
    opacity: 0.9;
    scale: 0.98;
    transition: 0.1s;
    box-shadow: 10px 10px 0 #c43367;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}



.file-upload-btn:hover {
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
    transition: 200ms ease;
}

#chosen-file {
    font-weight: 500;
    color: yellowgreen;
}


.success-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 1; /* Ensure the overlay is on top */
}

.success-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: -webkit-center;
    align-content: center;

    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 500px;
    width: 800px;
    padding: 20px;
    border-radius: 15px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    z-index: 2; /* Ensure the panel is on top of the overlay */
}

.panel-content {
    display: flex;
    flex-direction: column;
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 20rem;
}

.loader {
    width: 60%;
    height: 21px;
    margin: 0 0 30px 0;
    align-self: center;
    border-radius: 20px;
    background: 
        repeating-linear-gradient(135deg, #C43367 0 10px, #1C94D8 0 20px) 0 / 0% no-repeat, 
        repeating-linear-gradient(135deg, rgb(221 221 221 / 10%) 0 10px, rgb(238 238 238 / 1%) 0 20px) 0 / 100%;
    animation: l3 2s infinite;
  }
  @keyframes l3 {
      100% {background-size:100%}
  }

  .panel-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}
.panel-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
    transition: ease 200ms;
}



.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1; /* Ensure the popup overlay is on top */
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    z-index: 2; /* Ensure the popup is on top of the overlay */
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
    transition: ease 150ms;
}