/* * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
	display: none !important;
	visibility: hidden;
}

/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* * Extends the .visuallyhidden class to allow the element to be focusable * when navigated to via the keyboard: h5bp.com/p */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
} /* * Hide visually and from screenreaders, but maintain layout */

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}
.noflick {
	perspective: 1000;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
	box-sizing: border-box;
}
#board,
input,
select,
textarea {
	color: #000000;
}

::selection {
	background: #b3d4fc9e;
	text-shadow: none;
}
a:focus {
	outline: none;
}
::-webkit-input-placeholder {
	color: rgba(0,0,0,.7);
}

:placeholder {
	/* Firefox 18- */
	color: rgba(0,0,0,.7);
}

/* ==========================================================================
   Note element styles
   ========================================================================== */

#board {
	position: relative;
    font-size: 1em;
	line-height: 1;
	border: 6px solid #4d4d4d;
	border-radius: 10px;
	background-color: rgba(255,255,255,1);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 47%, rgba(222,222,222,1) 100%);

	max-height: 842px;
	padding: 100px 30px 30px;
	margin: 30px 10px 10px;
	overflow-y: auto;
	@extend .noflick;
}
#board::-webkit-scrollbar
{
    width: 10px;
}

#board::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(67, 67, 67, 0.6);
}

#board::-webkit-scrollbar-thumb:hover
{
    border-radius: 10px;
    background-color: rgba(124, 124, 124, 0.7);
}
#board::-webkit-scrollbar-thumb:active
{
    border-radius: 10px;
    background-color: rgb(98, 98, 98);
}
#board::before {
	position: absolute;
	top: 10px;
	left: 10px;
	content: "Note Board";

	font-weight: 900;
	opacity: 0.3;
}
.note {
	float: left;
	display: block;
	position: relative;
	padding: 1em;
	width: 300px;
	margin: 0 15px 30px 15px;
	background: linear-gradient(to bottom, rgba(0,0,0,.05), rgba(0,0,0,.1));
	background-color: #FFFD75;
	box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
	transition: scale .3s;
	z-index: 1;
	@extend .noflick;

	&:hover {
		box-shadow: 5px 5px 15px 0 rgba(0,0,0,.3);
		scale: 1.05 !important;
		transition: scale .15s;
	}
	textarea {
    	font-size: 18px;
		background-color: transparent;
		border: none;
		resize: none;
		font-family: "sans-serif", cursive;
    	font-weight: 600;
		width: 100%;
    	max-height: 200px;
		padding: 5px;
    	scrollbar-width: none;
		&:focus {
			outline: none;
			border: none;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.2) inset;
			transform: scale(1.01) !important;
			overflow-y: auto;
			scrollbar-width: auto;
			resize: vertical;
			max-height: unset;
		}
		&.title {
      		min-height: 41px;
      		max-height: 87px;
			font-size: 24px;
     		font-weight: 700;
			line-height: 1;
			color: #000000;
			margin-top: 20px;
		}
		&.cnt {
			min-height: 200px;
      		max-height: 300px;
		}
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
			background-color: rgba(0, 0, 0, 0.0);
			border-radius: 10px;
		}

		&::-webkit-scrollbar
		{
			width: 10px;
		}

		&::-webkit-scrollbar-thumb
		{
			border-radius: 10px;
			background-color: rgba(67, 67, 67, 0.6);
		}

		&::-webkit-scrollbar-thumb:hover
		{
			border-radius: 10px;
			background-color: rgba(124, 124, 124, 0.7);
		}
		&::-webkit-scrollbar-thumb:active
		{
			border-radius: 10px;
			background-color: rgb(98, 98, 98);
		}
	}
	&:nth-child(2n) {
		background: #FAAACA;
	}
	&:nth-child(3n) {
		background: #69F098;
	}
}

.note.focused {
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.3);
    scale: 1.05;
}

/* Button style  */
.button {
	cursor: pointer;
	font: bold 16px Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	padding: 1em 1.5em;
	background-color: #00CC00;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.3);
	text-decoration: none;
	transition: transform .150s, background .2s;
	@extend .noflick;

	&:hover {
		background-color: #00e500;
		box-shadow: 
      0 0 0 0 rgba(0,0,0,.5),
      inset 0 -2px 2px -1px rgba(0,0,0,.5), 
      inset 0 1px 2px 1px rgba(255,255,255,.3);
	}

	&:active {
		background-color: #00CC00;
		text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 -1px 0 rgba(255,255,255,.3);
		box-shadow: inset 0 1px 2px rgba(0,0,0,.3), inset 0 -1px 2px rgba(255,255,255,.3);
		outline: none;
	}

	&.remove {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 33px;
		height: 33px;
		background-color: #66666630;
		text-align: center;
		line-height: 16px;
		padding: 10px;
		border-color: #B30000;
		font-style: 1.6em;
		font-weight: bolder;
		font-family: Arial, sans-serif;

		user-select: none;

		&:hover {
			background-color: #EF0005;
		}
	}
	&#add_new {
		background-color: #00a7ee;
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 100;
		user-select: none;
		&:hover {
			background-color: #00b7ff;
		}
	}
	&#save {
		position: absolute;
		top: 12px;
		right: 175px;
		z-index: 100;
		user-select: none;
		
	}
}

.save-loader {
	position: absolute;
    top: 20px;
    right: 320px;
	user-select: none;

	width: 36px;
	aspect-ratio: 1;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px 12px no-repeat,
		radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
	animation: l9 0.7s infinite linear;
}

@keyframes l9 {
	to {
		transform: rotate(1turn)
	}
}

.saved {
	position: absolute;
    top: 36px;
    right: 325px;
	user-select: none;

	color: limegreen;
	font-weight: 900;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.modal-content {
    background-color: #2C3E50;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #506387;
    border-radius: 9px;
    width: 300px; /* Could be more or less, depending on screen size */
    color: white;
    text-align: center;
    position: relative;
}

.modal-content p {
    margin: 15px 0;
}

.modal-content button {
	font-weight: bold;
    background-color: #506387;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
	transition: background-color .2s;
	&#confirm-delete {
		background-color: #ae2528;
		&:hover {
			background-color: #e30004;
		}
	}
}

.modal-content button:hover {
    background-color: #3E4E5E;
}