@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900;1000&display=swap');
html {
    font-family: 'Cairo', sans-serif;
    font-size: 21;
    line-height: 2rem;
}

:root {
    --primaryFontFamily: 'Cairo', sans-serif;
    --primaryFontSize: 21px;
    --primaryFontColor: #F7EBE8;
    --secondaryFontColor: #D4DBE8;
    --transparent: rgba(0, 0, 0, 0);;
    --primaryBorderRadius: 9px;
}

body {
    background-color: #01163A;
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 400;
}

button {
    font-family: var(--primaryFontFamily);
    font-size: var(--primaryFontSize);
    font-weight: 500;
    line-height: 26px;

    background:rgba(11, 61, 101, 0.75);
    color: var(--primaryFontColor);
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    margin-top: 3%;
    width: 85%;
    height: 80%;
    flex-shrink: 0;
}

.loader-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    color: white;
    text-align: center;
    padding-top: 20%;
}
.loader-overlay h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* HTML: <div class="loader"></div> */
.loader {
    position: fixed;
    top: 40%;
    left: calc(50% - 30px);
    width: 60px;
    aspect-ratio: 1;
    display: grid;
    grid: 50%/50%;
    animation: l4-0 1.6s infinite steps(1);
}
.loader::before {
content: "";
    transform-origin: bottom;
    animation:
        l4-1 0.4s infinite linear alternate,
        l4-2 0.4s infinite steps(1) alternate;
}
@keyframes l4-0 {
    0% {
        transform: scale(1, 1) rotate(0deg)
    }

    25% {
        transform: scale(1, -1) rotate(90deg)
    }

    50% {
        transform: scale(-1, -1) rotate(0deg)
    }

    75% {
        transform: scale(-1, 1) rotate(90deg)
    }
}
@keyframes l4-1 {
    0% {
        transform: perspective(150px) rotateX(0deg)
    }

    100% {
        transform: perspective(150px) rotateX(180deg)
    }
}
@keyframes l4-2 {
    0% {
        background: #2e89cc
    }

    50% {
        background: #c82d63
    }
}

.main-frame {
    width: 100%;
    max-width: 60%;
    min-height: 100%;
    height: fit-content;
    flex-shrink: 0;

    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    transition: max-width 500ms ease-in-out;
}

.back-btn {
    position: fixed;
    display: inline;
    height: 2.2rem;
    width: 2.2rem;
    border: 2px solid #506387;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0 0 10px;

    transition: scale 100ms;

    font-size: 30px;
}

.back-btn:hover {
    transition: scale 50ms;
    scale: 1.05;
    font-size: 31px;
    background:rgb(13, 67, 112);
}

#content-title {
    word-break: break-word;
    font-size: 28px;
    font-weight: 600;
    margin: 30px auto 12px;
    width: 85%;
    line-height: 1.2em;
}

.video-container{
    display: block;
    box-shadow: 0px 0px 33px 33px rgba(0, 0, 0, 0.33);
    margin: 0 auto;

	width: 85%;
}

.audio-container {
    width: 95%;
    margin: 30px auto;
}

.plyr__menu__container {
    bottom: -46px;
    left: 31px;
    right: auto;
    margin-bottom: auto;
}

/* Dark theme btn for Transcript */
#TC-theme {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: -8px;
    margin-top: -8px;
    margin-left: -100%;
    float: inline-end;
    border-radius: 50%;
    opacity: 0.2;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 32px;
}
#TC-theme:hover {
	opacity: 0.6;
}
#TC-theme i {
    transition: transform 0.2s ease-in-out;
}
#TC-theme:hover i {
    transform: rotateY(180deg);
    transition: transform 0.2s ease-in-out;
}

/* Dark theme for Transcript */
.TC-dark {
    background: #0d121b !important;
    color: #f4eeed !important;
    transition: background ease-in-out 0.3s;
}

#transcript {
    margin: 30px 10px;
    color: #0d121b;
    border: 6px solid #4d4d4d;
    border-radius: var(--primaryBorderRadius);
    background: #f4eeed;

    height: 750px;
    padding: 20px 10px 20px 20px;
    overflow: auto;
    transition: background ease-in-out 0.3s;
}
#transcript .large {
    font-size: 27px;
}

#transcript::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	background-color: rgba(0, 0, 0, 0);
	border-radius: 12px;
}
#transcript::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.4);
}
#transcript::-webkit-scrollbar-thumb:hover
{
	border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
}
#transcript::-webkit-scrollbar-thumb:active
{
	border-radius: 12px;
	background-color: rgba(0, 0, 0, 0.7);
}

.sidebar-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;

    width: 100%;
    max-width: 37%;
    margin: auto 0 auto 12px;
    min-height: 100%;
    flex-shrink: 0;
    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;
    background: linear-gradient(270deg, #0A2F66 -27.93%, #131F38 100%);
}

.flashcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;

    align-items: center;
    justify-content: center;
}

.summary {
    color: var(--primaryFontColor);
    max-width: 100%;
    padding: 20px;
    margin: auto;
    line-height: 1.9rem;
}

.flashcards.active {
    display: flex;
}

.flashcards h1 {
    justify-self: flex-start;
    color: var(--primaryFontColor);
}

.flashcards-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    margin: 15px 10px 20px 10px;
    
    color: var(--secondaryFontColor);
    font-family: Cairo;
    font-size: 2rem;
    font-weight: 700;
}

/* .sidebar-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    margin: 15px 10px 20px 10px;
    
    color: var(--secondaryFontColor);
    font-family: Cairo;
    font-size: 2rem;
    font-weight: 700;
} */

/* .sidebar {
    width: 6%;
    height: 100%;
} */

.sidebar-menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    margin-left: 12px;
    min-width: 6%;
    min-height: 100%;

    border-radius: var(--primaryBorderRadius);
    border: 2px solid #506387;
    background: linear-gradient(270deg, #0A2F66 -27.93%, #131F38 100%);
}

.sidebar-menu button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 4vw;
    font-size: var(--primaryFontSize);
    margin: 10px auto 0 auto;

    border-radius: 6px;
    border: 3px solid #D4DBE8;
    background: #0d121b;
    cursor: pointer;

    transition: ease-in-out 150ms;
}

.sidebar-menu button.active{
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(0, 0, 0, 0.50) 62.9%, #022964 100%);
    font-size: 25px;
}

.sidebar-menu button:hover {
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(0, 0, 0, 0.50) 62.9%, #022964 100%);
    font-size: 25px;
}

.transcript-btn h3 {
    transition: linear 50ms;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}
 
.transcript-btn:hover h3 {
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.transcript-btn span {
    transition: linear 50ms;
    font-size: 1.4rem;
}

.transcript-btn:hover span {
    transition: linear 50ms;
    font-size: 1.6rem;
}

.audio-switch h3 {
    transition: linear 50ms;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}
 
.audio-switch:hover h3 {
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.audio-switch span {
    transition: linear 50ms;
    font-size: 1.2rem;
}

.audio-switch:hover span {
    transition: linear 50ms;
    font-size: 1.4rem;
}

.flashcard-btn h3 {
    transition: linear 50ms;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}

.flashcard-btn:hover h3 {
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.flashcard-btn img {
    transition: ease-in-out 150ms;
    width: 2.2rem;
}

.flashcard-btn.active{
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(0, 0, 0, 0.50) 62.9%, #022964 100%);
    font-size: 25px;
}

.flashcard-btn:hover img {
    width: 2.5rem;
}

.flashcard-btn.active img{
    width: 2.5rem;
}

.flashcard-btn.active:hover img{
    width: 2.4rem;
}

.summary-btn h3 {
    transition: linear 50ms;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}
 
.summary-btn:hover h3 {
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.summary-btn span {
    transition: linear 50ms;
    font-size: 1.2rem;
}

.summary-btn:hover span {
    transition: linear 50ms;
    font-size: 1.4rem;
}

.summary-btn.active{
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(0, 0, 0, 0.50) 62.9%, #022964 100%);
    font-size: 27px;
}

.chat-btn h3 {
    transition: linear 0.1s;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}

.chat-btn:hover h3 {
    transition: linear 0.1s;
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.chat-btn:hover img {
    transition: linear 0.1s;
    scale: 1.1;
}

.mcq-btn h3 {
    transition: linear 50ms;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}

.mcq-btn:hover h3 {
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.fa6-solid--file-pen {
    display: inline-block;
    width: 1.5em;
    height: 1.2em;
    margin-left: 10%;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23000' d='M0 64C0 28.7 28.7 0 64 0h160v128c0 17.7 14.3 32 32 32h128v139.6l-94.7 94.7c-8.2 8.2-14 18.5-16.8 29.7l-15 60.1c-2.3 9.4-1.8 19 1.4 27.8H64c-35.3 0-64-28.7-64-64zm384 64H256V0zm165.8 107.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4l-71-71l29.4-29.4c15.6-15.6 40.9-15.6 56.6 0M311.9 417l129.2-129.2l71 71l-129.2 129.1c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.noteBoard-btn h3 {
    transition: linear 50ms;
    font-size: 1px;
    position: absolute;
    visibility: hidden;
}
 
.noteBoard-btn:hover h3 {
    width: 6rem;
    font-size: 1.2rem;
    background-color: #0d121b63;
    border-radius: 9px;
    margin-left: -10rem;
    visibility: visible;
}

.noteBoard-btn span {
    transition: linear 0.1s;
    font-size: 1.4rem;
}

.noteBoard-btn:hover span {
    transition: linear 0.1s;
    font-size: 1.6rem;
}

.noteBoard-btn.active{
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(0, 0, 0, 0.50) 62.9%, #022964 100%);
    font-size: 27px;
}

.choice-icon {
    width: 45px;
    height: 50px;
    margin-right: 5px;
}

#toggle-SB-viewer {
    margin-top: 5px;
    background: transparent;
    border: none;
    transition: ease 0.3s;
}

#toggle-SB-viewer.collapsed {
    transform: rotateY(180deg);
    transition: ease 0.3s;
}


#summaryText {
    border-radius: 8px;
    padding: 0 8px;
    background: #00000069;
    white-space: pre-line;
    font-size: 1rem;
    max-height: 33rem;
    overflow-y: auto;
}

#videoIndexes {
    transition: height 0.5s ease-in-out;
    background: #0d121b;
    padding: 10px;
    white-space: pre-line;
    color: var(--primaryFontColor);
    overflow-y: hidden;
    height: 0;
}

#videoIndexes::-webkit-scrollbar:active {
    visibility: visible;
}

.style-7::-webkit-scrollbar-track 
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: black;
	border-radius: 10px;
    opacity: 0.3;
}

.style-7::-webkit-scrollbar
{
    width: 10px;
    visibility: hidden;
}

.style-7::-webkit-scrollbar-thumb
{
    width: 10px;
	border-radius: 10px;
	background-color: rgba(94, 110, 171, 0.6);
}

.style-7::-webkit-scrollbar-thumb:hover
{
	border-radius: 10px;
    background-color: rgba(94, 110, 171, 0.7);
}
.style-7::-webkit-scrollbar-thumb:active
{
	border-radius: 10px;
	background-color: rgba(94, 110, 171, 1);
}

#videoIndexes.expanded {
    overflow: auto;
    transition: height 0.5s ease;
    height: 200px; /* Expanded height */
}

#toggleButton {
    transition: background ease 0.5s;
    width: 100%;
    background: #202b42;;
    border: none;
    color: #9c9999;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    padding: 0;
}
#toggleButton:hover {
    background: #1b2437;
}

#toggleButton::before {
    content: "▲"; /* Unicode for down arrow */
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth transition for rotation */
}

#toggleButton.collapsed::before {
    transform: rotate(180deg);
}

.summary-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    margin: 15px 10px 30px 10px;
    
    color: var(--primaryFontColor);
    font-family: Cairo;
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (max-width = 900px) {
    .sidebar-title{
        font-size: 1.4rem;
    }
}

@media screen and (max-width = 767.5px) {
    
}

/* Popup Styling */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1; /* Ensure the popup overlay is on top */
}

.popup-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: radial-gradient(65.13% 77.87% at 118.98% 0%, #0A2F66 0%, #131F38 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    z-index: 2; /* Ensure the popup is on top of the overlay */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.popup-content {
    color: var(--primaryFontColor);
    text-align: center;
    max-width: 15rem;
}

.popup-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primaryFontColor);
    font-style: inherit;

    cursor: pointer;
    border: none;
    min-width: 200px;
    margin: 10px auto auto auto;
    width: 100%;
    height: 2rem;
    transition: ease 150ms;
}

.popup-content button:hover {
    font-size: 25px;
    border: 3px solid #D4DBE8;
    background: radial-gradient(61.54% 61.54% at 50% 50%, rgba(11, 61, 101, 0.75) 62.9%, #14598F 100%);
}