<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="assets/images/Studywise_Logo.png" type="image/x-icon">
    <title>StudyWise - Features</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/view-pdf.css">
    <link rel="stylesheet" href="css/view-video-style.css">
    <link rel="stylesheet" href="css/flashcard-style.css">
</head>

<body>
    <div class="main-navbar">
        <img src="assets/images/Studywise_Logo.png" alt="Studywise Logo" class="navbar-logo">
        <div class="navbar-btns">
            <a href=""><button>Home</button></a>
            <a href=""><button>Your Content</button></a>
            <a onclick="popupPrompt()"><button>Upload Material</button></a>
        </div>
    </div> <!-- Main Navbar end -->
    <div class="page-content">
        <div class="pdf-section">
            <embed id="pdf-viewer" src="test.pdf" width="100%" height="800px"/>
        </div>
        <!-- <div class="choices-section">
            <div class="choice">
                <img src="assets/images/bot.png" alt="Stockholder Icon" class="choice-icon">
                <div class="choice-details">
                    <h2>Chat with your PDF</h2>
                    <p>StudyWise will help you understand concepts like a personal tutor.</p>
                </div>
            </div>
            <div class="choice">
                <img src="assets/images/notes.png" alt="Stockholder Icon" class="choice-icon">
                <div class="choice-details">
                    <h2>Create Notes with AI</h2>
                    <p>Write your own or ask StudyWise to create notes for you.</p>
                </div>
            </div>
            <div class="choice">
                <img src="assets/images/flashcards.png" alt="Stockholder Icon" class="choice-icon">
                <div class="choice-details">
                    <h2>Create Flashcards with AI</h2>
                    <p>Write your own or ask StudyWise to create flashcards for you.</p>
                </div>
            </div>
        </div> -->
        <div class="sidebar-viewer">

            <div class="flashcards"> <!-- Flashcards Start -->
                <h1 class="flashcards-title">Flashcards</h1>
                <div class="folder">
                    <div id="howMany" class="howMany"></div>
                    <div id="flshcard-quiz-mode">
                    <!--Card-->
                
                        <div class="card">
                            <div id="front" class="front" style="color: black;">
                            </div>
                            <div id="back" class="back">
                            </div>
                        </div>
                
                        <br>
                        <button id="fail" type="button">Missed It</button>
                        <button id="success" type="button">Got It!</button>
                    
                        <div id ="block">
                            <div id="progress">
                                <div id="percent">Card 1 of 10</div>
                                <div id="bar"></div>
                                <div id="bg-bar"></div>
                            </div>
                        </div>
                            <button id="missed" type="button">Retry Missed</button>
                            <button id="full" type="button">Retry Full Set</button>
                    </div>
                </div> <!-- Folder End -->
            </div> <!-- Flashcards End -->

            <div class="video-summary">
                <h1 class="video-summary-title">Video Sumary</h1>
                <p id="summaryText">
                    Summary Processing...
                </p>
            </div>

        </div> <!-- Sidebar End -->
            <!-- <div class="sidebar-title">
                Video Toolbar
            </div> -->
            <div class="sidebar-menu">
                <button class="flashcard-btn" onclick="toggleFlashcards(this)">
                    <h3> Flashcards </h3><img src="assets/images/flashcards.png" alt="Flashcards!">
                </button>

                <button class="summary-btn" onclick="toggleSummary(this)">
                    <h3> Summary </h3><i class="fa-solid fa-align-center"></i>
                </button>

                <button></button>
                <button></button>
                <button></button>
                <button></button>
            </div>
    </div>
    <div id="popup-overlay" class="popup-overlay">
        <div class="popup-prompt">
            <button class="close-btn" onclick="closePopup()">&times;</button>
            <div class="popup-content">
                <h2>What kind of file do you want to upload?</h2>
                <button onclick="chooseOption('text')">Text-based</button>
                <button onclick="chooseOption('video')">Video-based</button>
            </div>
        </div>
    </div>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="js/uploadDoc.js"></script>
    <script src="js/FlashcardsV1_JS.js"></script>
    <script src="js/PDFView.js"></script>
</body>
</html>
