<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>StudyWise - FAQs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>
        <div class="faq-header">
            <button class="back-btn" onclick="history.back()"><i class="fa-solid fa-left-long"></i></button>
            Frequently Asked Questions</div>
        
        <div class="faq-content">
            <div class="faq-question">
                <input id="q1" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q1" class="panel-title">What is StudyWise?</label>
                <div class="panel-content">StudyWise is an advanced educational platform designed to enhance learning through interactive tools such as automated summaries, flashcards, quizzes, video trimming, and chatbots.</div>
            </div>
            
            <div class="faq-question">
                <input id="q2" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q2" class="panel-title">How does StudyWise process video content?</label>
                <div class="panel-content">StudyWise uses speech-to-text technology to transcribe audio from videos. It then segments the video into parts, names each segment based on its content, and generates flashcards, summaries, and multiple-choice questions (MCQs) to aid learning.</div>
            </div>
            
            <div class="faq-question">
                <input id="q3" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q3" class="panel-title">Can StudyWise handle different types of documents?</label>
                <div class="panel-content">Yes, StudyWise can process a variety of documents including PDFs, Word documents, and PowerPoint presentations. It extracts text and images to provide a comprehensive analysis and generate relevant study materials. </div>
            </div>
            
            <div class="faq-question">
                <input id="q4" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q4" class="panel-title">What features are available in StudyWise?</label>
                <div class="panel-content">StudyWise uses speech-to-text technology to transcribe audio from videos. It then segments the video into parts, names each segment based on its content, and generates flashcards, summaries, and multiple-choice questions (MCQs) to aid learning.</div>
            </div>
            
            <div class="faq-question">
                <input id="q6" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q6" class="panel-title">What features are available in StudyWise?</label>
                <div class="panel-content">
                    <li>Real-time chatbot assistance</li>
                    <li>Automated flashcards and quizzes</li>
                    <li>Video trimming and summarization</li>
                    <li>Document summarization</li>
                    <li>Question bank creation</li>
                    <li>Adding Notes</li>
                </div>
            </div>
            
            <div class="faq-question">
                <input id="q7" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q7" class="panel-title">How accurate are the generated study materials?</label>
                <div class="panel-content">The study materials generated by StudyWise, such as summaries, flashcards, and quizzes, are highly accurate. However, the presence of images in PDFs may slightly affect the accuracy.</div>
            </div>
            
            <div class="faq-question">
                <input id="q8" type="checkbox" class="panel">
                <div class="plus">+</div>
                <label for="q8" class="panel-title">How can I get started with StudyWise?</label>
                <div class="panel-content">To get started with StudyWise, simply sign up on our website, upload your learning materials, and start exploring the various features designed to enhance your educational experience.</div>
            </div>
        </div>
        

    </body>
</html>
