<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" type="image/x-icon">
        <title>StudyWise - Login</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pop-up-style.css') }}">
    </head>

    <body>
        <div class="loader-overlay" id="loaderOverlay">
            <h1 id="loginSuccessMSG">Signing in</h1>
            <div class="loader"></div>
        </div>
        <div class="page-content">
            <div class="main-frame">

                <img src="{{ url_for('static', filename='assets/images/Studywise_Logo.png') }}" alt="Studywise Logo" class="navbar-logo">

                <div class="landing-navbar">
                    <div class="navbar-btns">
                        <a href="/"><button>HOME</button></a>
                        <a href="/plans"><button>PLANS</button></a>
                        <a href="/FAQs"><button>FAQs</button></a>
                        <a href="login"><button>Sign up/Login</button></a>
                    </div> 
                </div>

                <div class="inner-frame">
                    <div class="login-div">  	
                        <input type="checkbox" id="chk" aria-hidden="true" value="">
                
                        <div class="signin">
                            <form class="form"> <!-- Sign In Form -->
                                <label for="chk" aria-hidden="true">Sign In</label>

                                <div class="inputBox"> <!-- Sign In Email -->
                                    <input id="signInEmail" type="text" name="email" autocomplete="email" required> 
                                    <i class="input-label">Email</i>
                                </div>
                                <div class="inputBox"> <!-- Sign In Password -->
                                    <input id="signInPassword" type="password" name="password" autocomplete="current-password" required> 
                                    <i class="input-label">Password</i>
                                    <i id="eye-icon2" class="fas fa-eye-slash" onclick="toggleSigInPW()"></i>
                                </div>
                                <button id="signInButton" onclick="signIn(event)">Login</button>
                                <button type="button" onclick="openForgotPasswordModal()">Forgot Password?</button>
                            </form>
                        </div>
                                        
                        <div class="signup">
                            <form class="form"> <!-- Sign Up Form -->
                                <label for="chk" aria-hidden="true">Sign up</label>

                                <div class="inputBox"> <!-- Sign Up Full Name -->
                                    <input id="fullName" type="text" name="name" autocomplete="name" required> 
                                    <i class="input-label">Full Name</i>
                                </div>
                                <div class="inputBox"> <!-- Sign Up Email -->
                                    <input id="signUpEmail" type="text" name="email" autocomplete="email" required> 
                                    <i class="input-label">Email</i>
                                </div>
                                <div class="inputBox"> <!-- Sign Up Password -->
                                    <input id="signUpPassword" type="password" name="password" autocomplete="new-password" required> 
                                    <i class="input-label">Password</i> 
                                    <i id="eye-icon1" class="fas fa-eye-slash" onclick="toggleSignUpPW()"></i>
                                </div>
                                <button id="signUpButton" onclick="signUp()">Register</button>
                                <p>By Signing Up, you agree to our <a href="https://drive.google.com/file/d/1bOJJdqh2uj4WiEcZTbcKrgbUEiGVSlyE/view?usp=sharing" target="_blank">Terms and Conditions</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div> <!-- Main Frame end -->
        </div>

        <div id="popup-overlay" class="popup-overlay">
            <div class="popup-prompt">
                <button class="close-btn" onclick="closePopup()">&times;</button>
                <div class="popup-content">
                    <h2>What kind of file do you want to upload?</h2>
                    <button onclick="chooseOption('text')">Text-based</button>
                    <button onclick="chooseOption('video')">Video-based</button>
                    <input type="text" placeholder="Insert YouTube video URL" id="YT_link">
                    <button type="submit" onclick="chooseOption('link')">Send Link</button>
                </div>
            </div>
        </div>

        <div id="forgotPasswordModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeForgotPasswordModal()">&times;</span>
                <h2>Forgot Password</h2>
                <form id="forgotPasswordForm">
                    <label for="email">Enter your email:</label>
                    <input type="email" id="email" name="email" required><br><br>
                    <button type="submit">Submit</button>
                </form>
                <p id="passwordDisplay"></p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

        <script src="{{ url_for('static', filename='js/loginWithPy.js') }}"></script>
    </body>
</html>